################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/00_APP_TO_DO_LIST/.vs/APP_TO_DO_LIST/FileContentIndex/1b983355-c165-4be1-ba62-da272ad4772c.vsidx
/00_APP_TO_DO_LIST/.vs/APP_TO_DO_LIST/FileContentIndex/d2f2462a-b181-41a0-bb50-7a0202f9e68a.vsidx
/00_APP_TO_DO_LIST/.vs/APP_TO_DO_LIST/FileContentIndex
/.vs/CODIGO NOVO/v17
/00_APP_TO_DO_LIST/APP_TO_DO_LIST/obj/Debug/net8.0/APP_TO_DO_LIST.AssemblyInfoInputs.cache
/00_APP_TO_DO_LIST/APP_TO_DO_LIST/obj/Debug/net8.0/APP_TO_DO_LIST.assets.cache
/00_APP_TO_DO_LIST/APP_TO_DO_LIST/obj/Debug/net8.0/APP_TO_DO_LIST.csproj.AssemblyReference.cache
/00_APP_TO_DO_LIST/APP_TO_DO_LIST/obj/Debug/net8.0/APP_TO_DO_LIST.GeneratedMSBuildEditorConfig.editorconfig
/00_APP_TO_DO_LIST/APP_TO_DO_LIST/obj/Debug/net8.0/APP_TO_DO_LIST.AssemblyInfo.cs
/.vs/VSWorkspaceState.json
/00_APP_TO_DO_LIST/.vs/ProjectEvaluation/app_to_do_list.metadata.v8.bin
/00_APP_TO_DO_LIST/.vs/ProjectEvaluation/app_to_do_list.projects.v8.bin
/00_APP_TO_DO_LIST/.vs/ProjectEvaluation/app_to_do_list.strings.v8.bin
